.chat-icon {
    position: fixed;
    bottom: 20px;  /* Espacio desde el fondo de la pantalla */
    right: 20px;   /* Espacio desde la derecha de la pantalla */
    cursor: pointer;
    width: 60px;
    height: 60px;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  }
  
  .chatbot-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .chatbot-messages {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .message.user {
    text-align: right;
  }
  
  .message.bot {
    text-align: left;
  }
  
  .chatbot-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .chatbot-input input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
  }
  