/*
#363636 - Color Negro
#CCCCCC - Color Gris
#638A66 - Color Verde
#A3BDA2 - Color Verde Claro
*/

.homepage{
    display: block;
    max-width: 1600px;
    width: 100%;
    margin: auto auto 40px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal-section {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgb(255 255 255 / 50%), rgb(255 255 255 / 70%)), /* Degradado */ url(/src/assets/images/charla-fondo.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0px auto 30px auto;
    padding: 120px 0px 120px 0px;
    text-align: center;
    color: #363636;
}

.section-wrap h4, h1{ 
    text-transform: uppercase;
}

.container-greeting{
  display: block;
  width: 96%;
  left: 28px;
  top: 46px;
  position: absolute;
  text-align: left;
  margin: auto;
}

.user-greeting{
  color: #363636;
  font-family: nunito;
  font-weight: 600;
  font-size: 24px;
}

.section-wrap {
    display: block;
    width: 96%;
    margin: auto;
    padding: 30px 20px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    background: #ffffff3d;
}




/*MODULE SECTION STYLES*/

.modules-section {
    display: grid;
    max-width: 1600px;
    width: 96%;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: -130px auto 30px auto;
    padding: 40px;
    border-radius: 10px;
}
  
  .module {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #cccccc;
    z-index: 999;
  }

  .img-modules{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .module:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0 0px 30px 4px rgb(70 152 89 / 20%);
  }
  
  .module-tag {
    font-family: 'Poppins';
    font-size: 14px;
    color: #638a66;
    text-transform: uppercase;
    margin-bottom: 10px;
}
  .module-title {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 24px;
    color: #363636;
    margin-bottom: 15px;
}
  
  .module-date {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
  }
  
  .module-link {
    display: block;
    color: #638A66;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    text-decoration: none;
    transition: color 0.3s;
}
  
  .module-link:hover {
    color: #2196F3;
  }
  

  /*DREAMS HISTORIES SECTION*/

  .dreams-histories-section {
    display: block;
    max-width: 1600px;
    width: 96%;
    background-image: linear-gradient(to bottom, rgb(102 223 145 / 0%), rgb(160 218 183 / 60%)), /* Degradado */ url(/src/assets/images/imagen-mujer-durmiendo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px auto 40px auto;
    padding: 80px 40px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    cursor: pointer;
}

.module-tag-dreams{
    font-family: 'Poppins';
    font-size: 14px;
    color: #363636;
    text-transform: uppercase;
}

.dream-title{
    font-size: 42px;
    font-family: poppins;
    font-weight: 600;
    color: #638A66;
}

.dream-text {
    width: 60%;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    color: #363636;
}

@media screen and (max-width: 768px){
  .modules-section {
    display: grid;
    max-width: 1600px;
    width: 96%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: -130px auto 30px auto;
    padding: 40px;
    border-radius: 10px;
}
}