.user-profile {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  .profile-avatar-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  
  .profile-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; /* Esta propiedad asegura que la imagen se ajuste al contenedor sin deformarse */
  }
  